<div class="four-tables">
		<div class= "row-fluid">
				<div class="span3">
					<div class="color-cccddd">
						<h3>Cochabamba</h3>
						<h4><span class="price">Bs.- 780</span> <span class="time">por persona</span></h4>
						<ul>
							<li>Acreditacion</li>
							<li>Asistencia a 3 Seminarios</li>
							<li>Material del Seminario</li>
							<li>Certificados</li>
							<li>Fiesta</li>
							<li>Alojamiento (2 Dias en Residencial)</li>
							<li>Desayuno 3 Días</li>
							<li>Almuerzo 3 Días</li>
							<li>Seguro contra accidentes</li>
							<li>Pasaje Cochabamba - Tarija(flota) Ida y Vuelta</li>
						</ul>
						<div class ="btn"><%= link_to "Inscribirme!", :controller => "welcome", :action => "registration"  %></div>
					</div>
				</div>

				<div class="span3">
					<div class="color-666777">
						<h3>Oruro</h3>
						<h4><span class="price">Bs.- 750</span> <span class="time">por persona</span></h4>
						<ul>
							<li>Acreditacion</li>
							<li>Asistencia a 3 Seminarios</li>
							<li>Material del Seminario</li>
							<li>Certificados</li>
							<li>Fiesta</li>
							<li>Alojamiento (2 Dias en Residencial)</li>
							<li>Desayuno 3 Días</li>
							<li>Almuerzo 3 Días</li>
							<li>Seguro contra accidentes</li>
							<li>Pasaje Oruro - Tarija(flota) Ida y Vuelta</li>
						</ul>
						<div class ="btn"><%= link_to "Inscribirme!", :controller => "welcome", :action => "registration"  %></div>
					</div>
				</div>
				<div class="span3">
					<div class="color-custom">
						<h3>Santa Cruz</h3>
						<h4><span class="price">Bs.- 780</span> <span class="time">por persona</span></h4>
						<ul>
							<li>Acreditacion</li>
							<li>Asistencia a 3 Seminarios</li>
							<li>Material del Seminario</li>
							<li>Certificados</li>
							<li>Fiesta</li>
							<li>Alojamiento (2 Dias en Residencial)</li>
							<li>Desayuno 3 Días</li>
							<li>Almuerzo 3 Días</li>
							<li>Seguro contra accidentes</li>
							<li>Pasaje Oruro - Tarija(flota) Ida y Vuelta</li>
						</ul>
						<div class ="btn"><%= link_to "Inscribirme!", :controller => "welcome", :action => "registration"  %></div>
					</div>
				</div>

				<div class="span3">
					<div class="color-666777">
						<h3>Tarija</h3>
						<h4><span class="price">Bs.- 350</span> <span class="time">por persona</span></h4>
						<ul>
							<li>Acreditacion</li>
							<li>Asistencia a 3 Seminarios</li>
							<li>Material del Seminario</li>
							<li>Certificados</li>
							<li>Fiesta</li>
						</ul>
						<div class ="btn"><%= link_to "Inscribirme!", :controller => "welcome", :action => "registration"  %></div>
					</div>
				</div>
			</div>
			</div>
			
			<!-- end: Table -->


