<div class = "hero-unit">
			
              
                 


                    <div class ="btn "> <h5> <%= link_to "Registrarme para participar del encuentro!", :controller => "attendees", :action => "new" %> </h5> </div>
            
   
</div>
