<div class = "hero-unit">
			
              
                 


                    <div class ="btn ">  <%= link_to "Registrarme para participar del encuentro!", :controller => "attendees", :action => "new" %>  </div>
            
   
</div>
