<div class = "hero-unit">
			
                            
<h3>Ya estas con un pie en el encuentro 2013!</h3>

                    <div class ="btn ">  <%= link_to "Registrarme para participar del encuentro!", :controller => "attendees", :action => "new" %>  </div>
            
   
</div>
